@model List<MemberViewModel>
@{
    ViewBag.Title = "My Geneology";
    Layout = "~/Areas/MyAccount/Views/Shared/_MyAccountLayout.cshtml";
    string availStr = "Available";
    GBHO_Data.EntityFrameworks.Member member = ((GBHO_Data.EntityFrameworks.Member)Session["CurrentUser"]);
    String[] roles = Roles.GetRolesForUser(member.MemberId.ToString());
}

<style>
    .clickable {
        cursor:pointer;
    }
</style>

<div class="col" style="position:relative;">

    <div class="card">
        <div class="card-header">
            <strong>Graphical</strong> View

            @if(Request.QueryString["id"] != null)
            {
                <a class="pull-right" href="@Url.Content("~/MyAccount/Geneology")">Back to Top</a>
            }
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-sm-center">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-user text-white bg-primary" onclick="@MemberHelper.GeneologyRedirect(Model[0],Model[1],0,roles[0])"></i></div>
                    <p>@(Model[0] == null? availStr : Model[0].Username)</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>        
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-sm-center">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[0],Model[1],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[0],Model[1],0,roles[0])"></i></div>
                    <p>@(Model[1] == null? availStr : Model[1].Username)</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-sm-center">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[0],Model[2],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[0],Model[2],1,roles[0])"></i></div>
                    <p>@(Model[2] == null? availStr : Model[2].Username)</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-sm-center">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[1],Model[3],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[1],Model[3],0,roles[0])"></i></div>
                        <p>@(Model[3] == null? availStr : Model[3].Username)</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-sm-center">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[1],Model[4],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[1],Model[4],1,roles[0])"></i></div>
                        <p>@(Model[4] == null? availStr : Model[4].Username)</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-sm-center">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[2],Model[5],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[2],Model[5],0,roles[0])"></i></div>
                        <p>@(Model[5] == null? availStr : Model[5].Username)</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-sm-center">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[2],Model[6],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[2],Model[6],1,roles[0])"></i></div>
                        <p>@(Model[6] == null? availStr : Model[6].Username)</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[3],Model[7],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[3],Model[7],0,roles[0])"></i></div>
                            <p>@(Model[7] == null? availStr : Model[7].Username)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[3],Model[8],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[3],Model[8],1,roles[0])"></i></div>
                            <p>@(Model[8] == null? availStr : Model[8].Username)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[4],Model[9],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[4],Model[9],0,roles[0])"></i></div>
                            <p>@(Model[9] == null? availStr : Model[9].Username)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[4],Model[10],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[4],Model[10],1,roles[0])"></i></div>
                            <p>@(Model[10] == null? availStr : Model[10].Username)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[5],Model[11],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[5],Model[11],0,roles[0])"></i></div>
                            <p>@(Model[11] == null? availStr : Model[11].Username)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[5],Model[12],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[5],Model[12],1,roles[0])"></i></div>
                            <p>@(Model[12] == null? availStr : Model[12].Username)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="col-md-12 text-sm-center">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[6],Model[13],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[6],Model[13],0,roles[0])"></i></div>
                                <p>@(Model[13] == null? availStr : Model[13].Username)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-sm-center">
                        <div class="col-md-12 text-sm-center">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user text-white @(MemberHelper.GeneologyCardStyle(Model[6],Model[14],roles[0]))" onclick="@MemberHelper.GeneologyRedirect(Model[6],Model[14],1,roles[0])"></i></div>
                                <p>@(Model[14] == null? availStr : Model[14].Username)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
