@model GBHO_Web.Models.ContactModel
@{
    Layout = "~/Views/Shared/_PublicLayout_v2.cshtml";
}

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Get in touch</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li class="active">Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div id="google-map" data-latitude="40.713417" data-longitude="-74.0092125"></div>

      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>Get in touch with us by filling <strong>contact form below</strong></h4>

            @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, 
                        FormMethod.Post, new { @class="contactForm" }))
            {
                if (ViewBag.IsSent != null)
                {
                    if ((bool)ViewBag.IsSent)
                    {
                        <div id="sendmessage" style="display:block">Your message has been sent. Thank you!</div>
                    }
                    else
                    {
                        <div id="errormessage" style="display:block">Something is wrong.</div>
                    }
                } 

                <div class="row">
                    <div class="span4 form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Your Name" })
                        <div class="validation">@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</div>
                    </div>
                    <div class="span4 form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your Email" })
                        <div class="validation">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
                    </div>
                    <div class="span4 form-group">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Subject" })
                        <div class="validation">@Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })</div>
                    </div>
                    <div class="span12 margintop10 form-group">
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Message", @rows = "12" })
                        <div class="validation">@Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })</div>
                        <p class="text-center">
                        <button class="btn btn-large btn-theme margintop10" type="submit">Submit message</button>
                        </p>
                    </div>
              </div>
            }
          </div>
        </div>
      </div>
    </section>

@section AdditionalScript{

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#errormessage').show();
            if (jQuery('.validation').html() != '') {
                jQuery('.validation').show();
            }
            
        });
    </script>
}
